---
import clsx from "clsx";
import Layout from "@/layouts/Layout.astro";
import fetchSongs from "@/libs/loadSongs";

export async function getStaticPaths() {
  const songs = await fetchSongs();

  return songs.map((song) => ({
    params: { songId: song.id },
  }));
}

const { songId } = Astro.params;

const songs = await fetchSongs();
const song = songs.find((doc) => doc.id === songId);

if (!song) {
  return Astro.redirect("/");
}
---

<Layout title={song.title}>
  <div class="p-12">
    <div class="space-y-2 mb-8">
      <h1 class="font-serif text-4xl">{song.title}</h1>
      <h2 class="opacity-60 text-xl">{song.authors || "Aucun auteur"}</h2>
      {song.copyright && <h3 class="opacity-40">© {song.copyright}</h3>}
    </div>

    <div class="flex flex-col gap-8 text-lg">
      {
        song.lyrics
          ? song.lyrics.map((part) => (
              <div
                class={clsx(
                  "whitespace-pre-line font-serif",
                  part.type === "chorus" &&
                    "pl-4 opacity-80 border-l-2 border-secondary"
                )}
              >
                {part.text}
              </div>
            ))
          : "Aucune parole"
      }
    </div>
  </div>
</Layout>
