---
import "@fontsource/playfair-display/500.css";
import "@fontsource/source-sans-pro";
import { ViewTransitions } from "astro:transitions";
import Menu from "@/components/Menu";
import fetchSongs from "@/libs/loadSongs";

interface Props {
  title: string;
}

const { songId } = Astro.params;
const { title } = Astro.props;

const songs = await fetchSongs();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Explorateur des chants de louange de lՃglise Lyon Gerland"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <slot />
      </div>
      <div class="drawer-side">
        <label
          html-for="my-drawer-2"
          aria-label="close sidebar"
          class="drawer-overlay"></label>

        <Menu
          data={songs}
          currentSongId={songId}
          client:load
          transition:persist
        />
      </div>
    </div>
  </body>
</html>
